services:
  parser:
    build: .
    image: products-agent
    env_file:
      - .env
    volumes:
      - ./config/sites:/app/config/sites
      - ./state:/var/app/state
      - ./assets/images:/app/assets/images
      - ./secrets:/secrets
      - ./logs:/var/log/parser
    dns:
      - 8.8.8.8
      - 1.1.1.1
    command: ["python", "-m", "app.main"]
